{% extends "base.html" %}
{% load static %}
{% load user_filters %}

{% block title %}
{% if object %}Редактирование рецепта{% else %}Создание рецепта{% endif %}
{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static '/pages/form.css' %}">
{% endblock stylesheet %}

{% block content %}


    <div class="main__header">
        <h1 class="main__title">
            {% if object %}Редактирование рецепта{% else %}Создание рецепта{% endif %}
        </h1>
    </div>
    <div class="form-container">
        <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}

            <div class="form__group">
                <label for="{{ form.name.id_for_label }}" class="form__label">{{ form.name.label }}</label>
                <div class="form__field-group">
                    {{ form.name|addclass:"form__input" }}
                </div>

                {% if form.name.errors %}
                    <span class="form__error">{{ form.name.errors.as_text|escape }}</span>
                {% endif %}

            </div>

            <div class="form__group">
                <p class="form__label">Теги</p>
                <div class="form__field-group">
                    <div class="tags">
                        <div class="tags__item">
                            {{ form.breakfast|addclass:"tags__checkbox tags__checkbox_style_orange" }}
                            <label for="{{ form.breakfast.id_for_label }}" class="tags__label">{{ form.breakfast.label }}</label>
                        </div>
                        <div class="tags__item">
                            {{ form.lunch|addclass:"tags__checkbox tags__checkbox_style_green" }}
                            <label for="{{ form.lunch.id_for_label }}" class="tags__label">{{ form.lunch.label }}</label>
                        </div>
                        <div class="tags__item">
                            {{ form.dinner|addclass:"tags__checkbox tags__checkbox_style_purple" }}
                            <label for="{{ form.dinner.id_for_label }}" class="tags__label">{{ form.dinner.label }}</label>
                        </div>
                    </div>
                    <span class="form__error">{{ form.non_field_errors.as_text|escape }}</span>

                </div>
            </div>

            <div class="form__group">
                <label for="nameIngredient" class="form__label">Ингредиенты</label>
                <div class="form__field-group">
                    <div class="form__field-group-ingredientes">
                        <div class="form__dropdown">
                            {{ form.ingredient_name|addclass:"form__input" }}
                            <div class="form__dropdown-items"></div>
                        </div>
                            {{ form.ingredient_value|addclass:"form__input" }}
                            <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                    </div>
                    <div class="form__field-group-ingredientes-container">
                        <div class="form__field-item-ingredient" id="ing_3">
                            <span> Оливки 10 шт.</span>
                            <span class="form__field-item-delete"></span>
                            <input id="nameIngredient_3" name="nameIngredient_3" type="hidden" value="Оливки">
                            <input id="valueIngredient_3" name="valueIngredient_3" type="hidden" value="10">
                            <input id="unitsIngredient_3" name="unitsIngredient_3" type="hidden" value="шт.">
                        </div>
                        <div class="form__field-item-ingredient" id="ing_2">
                            <span> Картошка 5 шт.</span>
                            <span class="form__field-item-delete"></span>
                            <input id="nameIngredient_2" name="nameIngredient_2" type="hidden" value="Картошка">
                            <input id="valueIngredient_2" name="valueIngredient_2" type="hidden" value="5">
                            <input id="unitsIngredient_2" name="unitsIngredient_2" type="hidden" value="шт.">
                        </div>

                    </div>
                    <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                    <span class="form__error"></span>
                </div>
            </div>

            <div class="form__group">

                <label for="{{ form.cooking_time.id_for_label }}" class="form__label">{{ form.cooking_time.label }}</label>
                <div class="form__field-group form__field-group_time">
                    {{ form.cooking_time|addclass:"form__input" }}
                    <label for="id_time" class="form__label">минут</label>
                </div>
                {% if form.name.errors %}
                    <span class="form__error">{{ form.cooking_time.errors.as_text|escape }}</span>
                {% endif %} 
            </div>


            <div class="form__group">
                <label for="{{ form.description.id_for_label }}" class="form__label">{{ form.description.label }}</label>
                <div class="form__field-group">
                    {{ form.description|addclass:"form__textarea" }}
                </div>

                {% if form.name.errors %}
                    <span class="form__error">{{ form.name.errors.as_text|escape }}</span>
                {% endif %} 

            </div>

            <div class="form__group">
                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group">
                    {% comment %} <label for="form.image.id_for_label" class="form__file-button">Выбрать файл</label> {% endcomment %}
                    {{ form.image }}
                    {% comment %} <input type="file" class="form__file" name="file" id="id_file"> {% endcomment %}
                    
                    
                {% if form.name.errors %}
                    <span class="form__error">{{ form.name.errors.as_text|escape }}</span>
                {% endif %} 

                </div>
            </div>

            <div class="form__footer">
            {% if object %}
                <button type="submit" class="button button_style_blue">Сохранить</button> 
                <a style="margin-left: 2.5em" href="#" class="form__ingredient-link">Удалить</a>
            {% else %}
                <button type="submit" class="button button_style_blue">Создать рецепт</button>
            {% endif %}
            </div>
        </form>
    </div>

{% endblock content %}

{% block scripts %}

  <script src="{% static '/js/utils/debouncing.js' %}"></script>
  <script src="{% static '/js/components/Header.js' %}"></script>
  <script src="{% static '/js/config/config.js' %}"></script>
  <script src="{% static '/js/api/Api.js' %}"></script>
  <script src="{% static 'formRecipe.js' %}"></script>

{% endblock scripts %}
